// Time

$defaultShotTransitionTime: 0.23s;
$defaultTransitionTime: 0.4s;

// Sizes

$wrapperWidth: 1240px;

// Fonts

$mainFont: 'Montserrat', sans-serif;

// Colors

$black: #000;
$white: #fff;
$yellow: #fec730;
$blue: #2a76c4;
$green: #16aa60;
$red: #e73e52;

$nt-20: #232b33;
$nt-46: #6a6f75;
$nt-62: #989b9f;
$nt-90: #dce1e5;
$nt-96: #eef1f5;
$nt-98: #f7f9fa;
$nt-30: #45494d;

$txt-primary: #000000;
$txt-secondary: #45494d;
$txt-tertiary: #6a7075;
$txt-quaternary: #989b9f;

$darkBorder: #dce0e5;
$lightBorder: #f0f2f5;

$blue-200: #e6f0fa;
$red-300: #ffecee;
